@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zadaća 4 - Black Box Testiranje</h1>
    <hr />
    <iframe style="width: 100%" height="400"
            src="https://www.youtube.com/embed/jRwwb7iaRsU?autoplay=1&mute=1">
    </iframe>

    <div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
        <b>Ova web-aplikacija namijenjena je za black box testiranje.
        <br>
        Sastoji se od korisničkih interfejsa koji omogućavaju unos i pregled različitih vrsta objekata.
        <br>
        Svaka nastavna grupa ima svoj korisnički interfejs sa različitim izgledom i atributima.
        <br>
        Korisničkim interfejsima za svaku nastavnu grupu možete pristupiti odabirom željene grupe na meniju na gornjoj traci.
        <br></b>
        <hr />
        <i>Vodite računa da odaberete ispravan korisnički interfejs za testiranje.</i>
        <br><b>
        Svaki korisnički interfejs na naslovnoj stranici vrši prikaz elemenata koji su trenutno dodani u listu.
        <br></b>
        <hr /><b>
        Za ovu zadaću nije neophodno moći editovati ili brisati objekte, tako da je brisanje objekata moguće samo 
        ukoliko se aplikacija zaustavi i zatim ponovo pokrene.
        <br>
        Za perzistenciju podataka ne koristi se nikakva baza podataka, već isključivo programska logika.</b>
        <br>      
        <br>
        Više informacija o zadaći 4 možete naći na <a href="https://c2.etf.unsa.ba/course/view.php?id=307"> sljedećem linku.</a>
    </div>
</div>